/**
 * Breakpoints
 */
$breakpoint--small:     600px; /* phablet */
$breakpoint--medium:    768px; /* Tablet */
$breakpoint--large:     992px; /* tablet-wide */
$breakpoint--giant:     1260px; /* desktop */
